<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu">User Name</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/account-settings" routerLinkActive="active">Cambiar Temas</a></li>
                        <li><a routerLink="/login">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">MANTENIMIENTOS</li>
                <li *ngFor="let menu of _sidebar.menu">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i [class]="menu.icon"></i>
                        <span class="hide-menu">{{ menu.title }} 
                            <!-- <span class="label label-rouded label-themecolor pull-right">{{ menu.submenu.length }}</span> -->
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">
                            <a [routerLink]="[submenu.url]" routerLinkActive="active"> {{ submenu.title }} </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>